meta(name="description"                 content=desc)
meta(name="author"                      content=author)

link(rel="shortcut icon"                href=resources + "img/meta/favicon.png?v=" + cache)
link(rel="apple-touch-icon-precomposed" href=resources + "img/meta/apple-touch-icon-precomposed.png?v=" + cache)
meta(name="apple-mobile-web-app-title"  content=short_title)

meta(property="og:image"                content=resources + "img/meta/share.png?v=" + cache)
meta(property="og:image:width"          content="1200")
meta(property="og:image:height"         content="630")

meta(property="twitter:card"            content="summary_large_image")
